# Ignore Python virtual environment
.venv/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore SQLite database
db.sqlite3

# Ignore machine learning model files
model/model.h5

# Ignore migration cache files
model/migrations/__pycache__/

.env
.DS_Store
logs/
predicted_files/
.env
home.png
user/
frauddetection-451812-04d0ecddf678.json